subflow.json
{
    "id": "2403dae10c7a6dba",
    "type": "subflow",
    "name": "gst WD",
    "info": "Works paired with \"tequ-node-red-gstreamer\"-node\r\n- Input should be connected to TCP output node where stream is coming from.\r\n- Output should be connected to \"tequ-node-red-gstreamer\"-node input.\r\n- Restarts \"tequ-node-red-gstreamer\"-node if stream fps goes to zero.\r\n\r\nDependencies:\r\n- https://flows.nodered.org/node/node-red-contrib-msg-speed",
    "category": "Tequ-API Client",
    "in": [
        {
            "x": 80,
            "y": 60,
            "wires": [
                {
                    "id": "7c4532b896f20cb3"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 960,
            "y": 180,
            "wires": [
                {
                    "id": "ce38058e2c80590d",
                    "port": 0
                }
            ]
        },
        {
            "x": 940,
            "y": 60,
            "wires": [
                {
                    "id": "7c4532b896f20cb3",
                    "port": 1
                }
            ]
        }
    ],
    "env": [],
    "meta": {
        "module": "tequ-node-red-gstreamer-wd",
        "type": "tequ-node-red-gstreamer-wd",
        "version": "0.0.1",
        "author": "juha.autioniemi@lapinamk.fi",
        "desc": "Watchdog for tequ-node-red-gstreamer node.",
        "license": "MIT"
    },
    "color": "#3FADB5",
    "inputLabels": [
        "Stream data in"
    ],
    "outputLabels": [
        "Restart cmd out",
        "Input msg out"
    ],
    "icon": "font-awesome/fa-search",
    "status": {
        "x": 900,
        "y": 240,
        "wires": [
            {
                "id": "121ea0c2716b587c",
                "port": 0
            }
        ]
    },
    "flow": [
        {
            "id": "7c4532b896f20cb3",
            "type": "msg-speed",
            "z": "2403dae10c7a6dba",
            "name": "",
            "frequency": "sec",
            "interval": "5",
            "estimation": false,
            "ignore": false,
            "pauseAtStartup": false,
            "topicDependent": false,
            "x": 310,
            "y": 60,
            "wires": [
                [
                    "39a3cebbc74180c0"
                ],
                []
            ]
        },
        {
            "id": "39a3cebbc74180c0",
            "type": "switch",
            "z": "2403dae10c7a6dba",
            "name": "== 0",
            "property": "payload",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "0",
                    "vt": "num"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 290,
            "y": 120,
            "wires": [
                [
                    "6f6d8b134efb1535"
                ]
            ]
        },
        {
            "id": "6f6d8b134efb1535",
            "type": "delay",
            "z": "2403dae10c7a6dba",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "minute",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 310,
            "y": 180,
            "wires": [
                [
                    "06bcc06be3bc978c"
                ]
            ]
        },
        {
            "id": "06bcc06be3bc978c",
            "type": "trigger",
            "z": "2403dae10c7a6dba",
            "name": "",
            "op1": "{\"topic\":\"restart\",\"payload\":\"ok\"}",
            "op2": "",
            "op1type": "json",
            "op2type": "nul",
            "duration": "5",
            "extend": false,
            "overrideDelay": false,
            "units": "s",
            "reset": "",
            "bytopic": "all",
            "topic": "topic",
            "outputs": 1,
            "x": 480,
            "y": 180,
            "wires": [
                [
                    "5fc870effb0a1268"
                ]
            ]
        },
        {
            "id": "ce38058e2c80590d",
            "type": "change",
            "z": "2403dae10c7a6dba",
            "name": "restart",
            "rules": [
                {
                    "t": "set",
                    "p": "topic",
                    "pt": "msg",
                    "to": "restart",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 790,
            "y": 180,
            "wires": [
                [
                    "7a8f7741c6f011dc"
                ]
            ]
        },
        {
            "id": "7a8f7741c6f011dc",
            "type": "function",
            "z": "2403dae10c7a6dba",
            "name": "Restart",
            "func": "node.status({fill:\"red\",shape:\"ring\",text:\"no data, restart\"});\nreturn msg;",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 140,
            "wires": []
        },
        {
            "id": "121ea0c2716b587c",
            "type": "status",
            "z": "2403dae10c7a6dba",
            "name": "",
            "scope": [
                "7c4532b896f20cb3",
                "7a8f7741c6f011dc"
            ],
            "x": 780,
            "y": 240,
            "wires": [
                []
            ]
        },
        {
            "id": "0b275d906e154c3d",
            "type": "inject",
            "z": "2403dae10c7a6dba",
            "name": "",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "1",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 130,
            "y": 20,
            "wires": [
                [
                    "7c4532b896f20cb3"
                ]
            ]
        },
        {
            "id": "5fc870effb0a1268",
            "type": "delay",
            "z": "2403dae10c7a6dba",
            "name": "",
            "pauseType": "random",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "5",
            "randomLast": "25",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 640,
            "y": 180,
            "wires": [
                [
                    "ce38058e2c80590d"
                ]
            ]
        },
        {
            "id": "98dd8979abd08a9a",
            "type": "subflow:2403dae10c7a6dba",
            "z": "7b248573a2bd55b0",
            "name": "",
            "x": 400,
            "y": 600,
            "wires": [
                [],
                []
            ]
        }
    ]
}